/* @import url() */

body{
    /* font-family: ; */
    background-image: url(img/space.webp);
    height: 100vh;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.container{
   border: 6px solid rgba(246, 248, 255, 0.812);
   max-width: 800px;
   height: 500px;
   width: 100%;
   border-radius: 20px;
   overflow: hidden;
}
.image-row{
    display: flex;
    height: 100%;
    width: 100%;
    animation: slider-animation 10s linear infinite;
}
.image-row:hover{
    animation-play-state: paused;
}
.slide{
    position: relative;
}
.slide img{
    object-fit: cover;
}
.slide, .slide img{
    width: 800px;
    height: 100%;
    cursor: pointer;
}
@keyframes slider-animation{
    10%{
        margin-left: 0;  
    }
    100%{
        margin-left: -200%;
    }
}
.slide-info{
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.slide-info h5{
    font-size: 45px;
    margin-bottom: -2px;
}
.slide-info p{
    font-size: 24px;
    margin-top: 8%;
}
.slide:hover .slide-info{
    opacity: 1;
    visibility: visible ;
}